@import "../../.././styles/mixins";
@import "../../.././styles/variables";

.commonButton {
  @include flex-center();
  background: none;
  border: 0;
  display: block;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 1.6rem;
  border: 1px solid $primary;
  position: relative;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  .buttonIcon {
    svg {
      fill: $primary;
    }
  }

  svg {
    width: 3rem;
    height: 1.2rem;
    margin-left: 0.5rem;
    transition: transform 0.1s ease-in-out;
  }

  &.normalButton {
    padding: 1rem 2rem;
    background-color: $primary;
    color: $white;

    &:disabled:hover {
      background-color: $primary;
    }
  }

  &.borderButtonLight,
  &.borderButtonDark {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    transition: all 0.2s ease-in-out;
  }

  &.borderButtonLight {
    border: 1px solid $white;
    color: $white;

    &:hover {
      background-color: $white;
      color: $primary;
      box-shadow: none;
    }

    &:disabled:hover {
      background-color: $primary;
      color: $white;
    }

    .buttonIcon {
      svg {
        fill: $white;
      }
    }
  }

  &.borderButtonDark {
    border: 1px solid $primary;
    color: $primary;

    &:hover {
      background-color: $primary;
      color: $white;
      box-shadow: none;
    }

    &:disabled:hover {
      background-color: $white;
      color: $primary;
    }

    .buttonIcon {
      svg {
        fill: $primary;
      }
    }
  }
}

.buttonIcon {
  margin-left: 1rem;
}

.buttonPreIcon {
  margin-right: 1rem;

  svg {
    margin-left: 0;
  }
}

.loading {
  height: 3rem;
  width: 3rem;
  border: 2px dashed $black;
  animation: spinner 2s linear infinite;
  display: block;
  border-radius: 50%;
  @include absolute-center;
}

@keyframes spinner {
  from {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

.loadingContainer {
  height: 4rem;
  background-color: $white !important;

  &:hover {
    background-color: $white !important;
  }
}
