@import "../../.././styles/mixins";
@import "../../.././styles/variables";

.commonButton {
  @include flex-center();
  background: none;
  border: 0;
  display: block;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 1.7rem;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  svg {
    width: 3rem;
    height: 1.2rem;
    margin-left: 0.5rem;
    transition: all 0.2s ease-in-out;
  }

  &.normalButton {
    padding: 1rem 2rem;
    background-color: $primary;
    color: $white;

    &:disabled:hover {
      background-color: $primary;
    }
  }

  &.arrowButton {
    padding: 0;
    position: relative;
    padding-bottom: 0.5rem;

    &::before {
      transition: all 0.2s ease-in-out;

      content: "";
      display: block;
      width: 100%;
      border-bottom: 2px solid $primary;
      position: absolute;
      bottom: -0.2rem;
      transform: scaleX(0);
      transform-origin: left;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
      }

      svg {
        transform: translateX(0.5rem);
      }
    }
  }

  &.borderButtonLight,
  &.borderButtonDark {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    transition: all 0.2s ease-in-out;
  }

  &.borderButtonLight {
    border: 1px solid $white;
    color: $white;

    &:hover {
      background-color: $white;
      color: $primary;
      box-shadow: none;
    }

    &:disabled:hover {
      background-color: $primary;
      color: $white;
    }
  }

  &.borderButtonDark {
    border: 1px solid $primary;
    color: $primary;

    &:hover {
      background-color: $primary;
      color: $white;
      box-shadow: none;
    }

    &:disabled:hover {
      background-color: $white;
      color: $primary;
    }
  }
}
