@import "../../../styles/variables";

.userOptions {
    display: flex;
    align-items: center;
}

.user,
.bag {

    margin : 0 10px;


    svg {

        * {
            stroke-width: 1px;
            fill : $white;
            stroke: $white;
        }

        width : 30px;
        height: 30px;
    }
}

.user {
    svg {

        * {
            stroke-width: 2px ;

            fill : transparent;
        }
    } 
}