@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.noReviewsContainer {
  @include flex-center();
  flex-direction: column;
  height: 33rem;
}

.noReviewsTitle {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}

.noReviewsDescription {
  font-size: 1.8rem;
  width: 30%;
  text-align: center;
}

.reviewUser {
  font-size: 1.8rem;
  font-weight: 500;
}

@include on-device(tablet) {
  .noReviewsDescription {
    width: 70%;
  }
}
