@import "/src/styles/mixins";

.bagPage {
  display: flex;
  flex-wrap: wrap;
  min-height: 57vh;
}

.bagList {
  width: 75%;
}

.bagSidebar {
  width: 23.5%;
}

.bagTitle {
  width: 100%;
  font-size: 3.3rem;
  font-weight: 500;
}

.bagEmpty {
  @include absolute-center;
  margin-top: -3rem;
  font-size: 3rem;
  opacity: 0.6;
}
