.createReviewButton {
  margin-top: 1.5rem;
  margin-right: 0.5rem;
}

.createReviewActions {
  display: flex;
  align-items: center;
}

.createReviewTitle {
  font-size: 1.8rem;
  font-weight: 600;
}
