@import "../../../styles/variables";

.reviewsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.reviewsHeader {
  display: flex;
  justify-content: flex-end;
}

.reviewsList {
  display: flex;
  flex-direction: column;
}
