@import "../../../../styles/variables";

.userOptions {
  display: flex;
  align-items: center;
}

.user,
.bag {
  cursor: pointer;
  margin: 0 1rem;
  position: relative;

  svg {
    * {
      stroke-width: 1px;
      fill: $white;
      stroke: $white;
    }

    width: 3rem;
    height: 3rem;
  }
}

.user {
  svg {
    * {
      stroke-width: 3px;

      fill: transparent;
    }
  }
}
