@font-face {
    font-family: "PTSansNarrow";
    font-weight: 400;
    src  : url(../../public/fonts/PTSansNarrow-Regular.ttf)
}
@font-face {
    font-family: "PTSansNarrow";
    font-weight: 700;
    src  : url(../../public/fonts/PTSansNarrow-Bold.ttf)
}
@font-face {
    font-family: "Staat";
    font-weight: 500;
    src  : url(../../public/fonts/Staatliches-Regular.ttf)
}