@import "./variables";

html {
    font-family: "NotoSans";
    font-size : 62.5%; // 10px
}

body {
    padding : 0;
    margin : 0;
    background-color: $white;
}

ul {
    padding : 0;
    margin : 0;
    list-style: none;
}

a {
    text-decoration: none;
    color : currentColor
}