@import "./variables";
@import "./mixins";

*,
*::after,
*::before {
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Rajdhani" !important;
}

html {
  font-size: 62.5%; // 10px

  &::-webkit-scrollbar {
    display: none;
  }
}

@include on-device(tablet) {
  html {
    font-size: 50%;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: $white;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

input {
  &:focus,
  &:focus-visible,
  &:active {
    outline-width: 0 !important;
    box-shadow: none !important;
  }
}
