@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin on-device($device) {
  @if ($device == small-laptop) {
    @media only screen and (max-width: 1366px) {
      @content;
    }
  }
  @if ($device == large-tablet) {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  @if ($device == tablet) {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if ($device == mobile) {
    @media only screen and (max-width: 580px) {
      @content;
    }
  }
  @if ($device == small-mobile) {
    @media only screen and (max-width: 380px) {
      @content;
    }
  }
}
