@import "./variables";
@import "./mixins";

.authFields {
  width: 35%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authDescription {
  font-size: 1.8rem;
  margin-bottom: 5rem;
}

.authInput {
  width: 100%;
}

.authButton {
  width: 100%;
  margin-top: 4rem;
}

.authLink {
  display: inline-block;
  margin-top: 4rem;
  text-align: center;
  font-size: 1.4rem;
  border-bottom: 1px solid $primary;
}

.authForm {
  background-color: $white;
  height: 100%;
  display: flex;
  align-items: center;
}

@include on-device(mobile) {
  .authFields {
    margin-right: 3rem;
    width: 65%;
  }
}
@include on-device(large-tablet) {
  .authFields {
    margin-right: 4rem;
    width: 60%;
  }
}
