@import "/src/styles/variables";

.radioContainer {
  display: inline-flex;
  flex-direction: column;
  margin: 1rem 0;
}

.radioLabel {
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
  padding-left: 3.5rem;
  cursor: pointer;

  &::before {
    content: "";
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid $primary;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s ease-in-out;
  }
}

.radioInput {
  display: none;

  &:checked {
    & + label::before {
      border-width: 8px;
    }
  }
}
