@import "../../styles/mixins";

.bestSellersProductsContainer {
  display: flex;
  flex-wrap: wrap;
}

.bestSellersProduct {
  width: 18%;
  margin: 1%;
}

.bestSellersTitle {
  font-weight: 400;
  font-size: 4rem;
  margin: 9rem 1rem;
  text-align: center;
}

.bestSellersExplore {
  margin-top: 5rem;
  @include flex-center();
}

@include on-device(large-tablet) {
  .bestSellersProduct {
    width: 31%;
  }
}

@include on-device(tablet) {
  .bestSellersProductsContainer {
    justify-content: center;
  }
}

@include on-device(mobile) {
  .bestSellersProduct {
    width: 95%;
    margin-bottom: 4rem;
  }
}
