@import "../../../styles/variables";
@import "../../../styles/mixins";

.productImagesContainer {
  display: flex;
  flex-direction: column;
}

.productMainImageContainer {
  width: 100%;
}

.mainImage {
  width: 50rem;
  height: 50rem;
  object-fit: cover;
  border: 1px solid $primary;
}

.imagesList {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 50rem;
  justify-content: center;

  .imageItem {
    margin: 0 1rem;
  }

  &.fullImages {
    justify-content: space-between;
    .imageItem {
      margin: 0;
    }
  }
}

.imageItem {
  margin: 0.3rem 0;
  opacity: 0.5;
  cursor: pointer;
  height: 8.5rem;
  width: 8.5rem;
  border: 1px solid transparent;
  transition: all 0.1s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.activeImage {
    opacity: 1;
    border-color: $primary;
  }
}

@include on-device(large-tablet) {
  .productMainImageContainer,
  .productImagesContainer {
    width: 100%;
  }

  .mainImage {
    width: 100%;
  }

  .imagesList {
    width: 100%;
  }
}
