@import "../../../styles/variables";

.navItem {
  margin: 0 2rem;
  font-size: 2rem;
  text-transform: uppercase;

  a {
    color: rgba($white, 0.8);
    transition: all 0.1s ease-in-out;

    &:hover {
      color: $white;
      text-shadow: 0.1rem 0.1rem 0.3rem $white;
    }
  }
}
