@import "../../styles/variables";
@import "../../styles/mixins";

.registerFormContainer {
  filter: drop-shadow(-10px -10px 30px rgba($black, 0.9));
  height: 100vh;
  width: 60%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

.registerForm {
  clip-path: polygon(0 0, 100% 0, 63% 100%, 0% 100%);
  justify-content: flex-start;
}

.registerFields {
  margin-left: 15%;
}

.registerDescription {
  margin-bottom: 1rem;
}

.registerButton {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.registerLink {
  margin: 1rem 0;
}

@include on-device(large-tablet) {
  .registerFormContainer {
    width: 80%;
  }
}

@include on-device(mobile) {
  .registerFormContainer {
    width: 100%;
    backdrop-filter: blur(10px);
  }

  .registerFields {
    margin-left: 0;
  }

  .registerForm {
    clip-path: none;
    width: 100%;
    background-color: rgba($primary, 0.2);
    justify-content: center;

    input,
    button,
    a {
      font-size: 2rem;
      border-color: $white !important;
    }

    label,
    button,
    p,
    a {
      font-size: 2rem;
      color: $white !important;
    }
  }
}
