@import "../../../styles/mixins";
@import "../../../styles/variables";

.footerSection {
  @include flex-center();
  flex-direction: column;
  margin-top: 4rem;
}

.footerContact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContactTitle {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 300;
}

.footerSocial {
  svg {
    &:first-of-type {
      width: 2.5rem;
      height: 2.5rem;
    }

    width: 2rem;
    height: 2rem;
    margin: 0 4rem;
    cursor: pointer;
    fill: $primary;
  }
}

.footerNav {
  margin: 3rem 0;
  width: 60%;
  display: flex;
  justify-content: center;

  nav {
    width: 100%;
  }

  li {
    margin: 0;
    width: 18%;
    text-align: center;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: $primary;

    &:hover {
      color: $primary;
      font-weight: bold;
    }
  }
}

@include on-device(mobile) {
  .footerNav {
    display: none;
  }

  .footerSocial {
    margin-bottom: 3rem;
  }
}
