@import "../../../styles/mixins";
@import "../../../styles/variables";

.slogan {
  @include absolute-center();
  color: $white;
  font-size: 7.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 1;
  font-style: italic;

  .first {
    transform: translateX(-17%);
  }
  .last {
    transform: translateX(17%);
  }
}

@include on-device(tablet) {
  .slogan {
    font-size: 5rem;
  }
}

@include on-device(mobile) {
  .slogan {
    font-size: 2.5rem;
  }
}
