@import "../../../styles/mixins";
@import "../../../styles/variables";

.slogan {
    @include absolute-center();
    color : $white;
    font-size: 6rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    // top : 45%;
    // width: 60%;
    

    .first {
        transform : translateX(-17%)
    }
    .last {
        transform : translateX(17%)
    }

}