@import "/src/styles/mixins";

.banner {
  height: 100vh;
  background-image: url(../../../public/images/Banner.jpg);
  margin: 0 -2rem;
  margin-top: -10rem;
  background-size: cover;
}

@include on-device(small-laptop) {
  .banner {
    margin: 0 !important;
    margin-top: -10rem !important;
  }
}

@include on-device(mobile) {
  .banner {
    margin: 0 -4rem !important;
    margin-top: -10rem !important;

    background-image: url(../../../public/images/mobile-banner.jpg);
  }
}
